/* header */
header{
    background-color: rgb(255, 255, 255);
}
nav{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    margin: 0% !important;
    color: white;
}
img{
width: 250px;
height: auto;
padding: 5px 15px;
}
ul{
padding: 10px 20px;
}
li i{
    margin: 0px 5px;
}
li{
    display: inline-block;
    margin: 0px 20px;
    font-size: 20px;
    background-color: rgba(18, 1, 255, 0.63);
    border-radius: 8px;
    padding: 10px 20px;
}
a{
    color: cornsilk;
    text-decoration: none;
}
/* Alumnos */
h2{
    color: black;
    font-size: 30px;
}
label{
    color: black;
    font-size: 20px;
}
input{
    font-size: 15px;
}